// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension

/{
    zephyr,user {
        board-name = "nrf5340Playground";
        io-channels = <&adc 0>;
    };
    aliases {
        env-sensor = &bme280_sensor;
        oled-display = &ssd1306_display;
    };
        
};
    
&adc {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_6";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <0>;
        zephyr,resolution = <12>;
        zephyr,input-positive = <NRF_SAADC_AIN0>;
    };
};

&i2c2 {
    status = "okay";
    pinctrl-0 = <&i2c2_default>;
    pinctrl-1 = <&i2c2_sleep>;
    pinctrl-names = "default", "sleep";
    bme280_sensor: bme280@77 {
        compatible = "bosch,bme280";
        reg = <0x77>;
        status = "okay";
        friendly-name = "BME280";
    };

    clock-frequency = <I2C_BITRATE_STANDARD>;
    ssd1306_display: ssd1306fb@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        height = <32>;
        width = <128>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        com-sequential;
        prechargep = <0x22>;
    };
};
&led0 {
    label = "board_status_led";
    gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;
};
&led1 {
    label = "ble_advertising_led";
    gpios = <&gpio0 29 GPIO_ACTIVE_LOW>;
};
&led2 {
    label = "ble_gatt_device_connected_status_led";
    gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
};
&button0 {
    label = "start_adv_button";
    gpios = <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};
&button1 {
    label = "stop_adv_button";
    gpios = <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
};






&pinctrl {
    i2c2_default: i2c2_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 1, 5)>, <NRF_PSEL(TWIM_SCL, 1, 4)>;
            bias-pull-up;
        };
    };

    i2c2_sleep: i2c2_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SCL, 1, 4)>, <NRF_PSEL(TWIM_SDA, 1, 5)>;
            low-power-enable;
        };
    };
};
&i2c1 {
    status = "disabled";
};

&spi4 {
    status = "disabled";
};


&qspi {
    status = "disabled";
};

&nfct {
    status = "disabled";
};

